# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (if used)
.env

# macOS system files
.DS_Store

# VSCode settings (optional)
.vscode/

# Other temporary files
*.tmp
